<%- include('../partials/header'); %>

    <h1>Portfolio</h1>
    <table class="table">
      <form action="/portfolios" method="POST"> 
              <label>Name:
                <input type="text" name="name">
              </label>
              <button class="btn btn-primary">Add portfolio</button>
      </form>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Portfolio Name</th>
            <th scope="col">Total Balance</th>
            <th scope="col">Change %</th>
            <th scope="col">Action</th>
         </tr>

         <% if (portfolio.length) { %> 
          <% portfolio.forEach(function(p, idx) { %> 
            <tr>
              <th> <%= idx + 1 %>  </th>
              <th> <a href="/portfolios/<%= p._id %> "><%= p.name %></a>  </th>
              <th> <%= p.user %>  </th>
              <th> whut  </th>
              <th> whut  </th>
            </tr>
          <% }); %> 
        <% } %> 
        </thead>
   
      </table>

<%- include('../partials/footer'); %>