<%- include('../partials/header'); %>
 
    <h1>Coin Details</h1>

    <BR><BR><BR>
    <div class="container">
      <div class="row row-cols-2">
        <div class="col border-bottom">
          <h1 class="fw-bold"><%= coin.name %> <span class="title-smol"><%= coin.ticker %></span></h1></div>
        <div class="col border-bottom">
          <h1 class="fw-bold"><span style="font-size:30px">$</span><%= coin.curPrice %></h1>
          <h5>Last Hour: <%= coin.changeHourPCT %>% ($<%= coin.changeHour %>)</h5>
          <h5>Last Day: <%= coin.changeDayPCT %>% ($<%= coin.changeDay %>)</h5>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row row-cols-3">
        <div class="col border-bottom">
          <p class="fw-bold">
            Supply: <%= coin.supply %> <br>
            Market Cap: $<%= coin.mcap %>
          </p>
        </div>
        <div class="col border-bottom">
          <p class="fw-bold">
            Volume: $<%= coin.volume %>
          </p>
        </div>
        <div class="col border-bottom">
          <p class="fw-bold">
            24 Hour High: $<%= coin.price24High %><BR>
            24 Hour Low: $<%= coin.price24Low %>
          </p>
        </div>
      </div>
    </div>

<%- include('../partials/footer'); %>